* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #89609E;
}

.logo {
    margin: 0 auto;
}

li {
    list-style: none;
}

.boards {
    display: inline-block;
    background: rgba(222, 225, 227, 0.9);
    border-radius: 3px;
    margin: 0 0.5em 1em 0.5em;
    line-height: 1.75em;
    overflow: hidden;
    padding: 0.85em;
    min-height: 5em;
    animation-duration: .3s;
    animation-name: fadeIn;
    width: 260px;
}

.cards {
    background: #fff;
    padding: 0.5em;
    border-radius: 3px;
    border-bottom: 1px solid #bdc3c7;
}